{{- $app := .Values }}
{{- $ingress := $app.ingress }}
{{- if $ingress.enabled }}
{{- $ctx := dict "helm" . "extraLabels" $ingress.extraLabels }}
{{- $serviceName := include "vm.fullname" . }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- with $ingress.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
  labels: {{ include "chart.labels" $ctx | nindent 4 }}
  name: {{ include "vm.fullname" $ctx }}
  namespace: {{ include "vm.namespace" . }}
spec:
  {{- with $ingress.ingressClassName }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- with $ingress.tls }}
  tls: {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  rules:
    {{- range $ingress.hosts }}
    - host: {{ tpl .name $ }}
      http:
        paths:
          - path: {{ .path }}
            {{- with $ingress.pathType }}
            pathType: {{ . }}
            {{- end }}
            backend:
              service:
                name: {{ $serviceName }}
                port: {{ include "vm.ingress.port" . | nindent 18 }}
    {{- end -}}
{{- end -}}
